services:
  bot:
    build:
      context: .
    restart: unless-stopped
    volumes:
      - bot-data:/app/data
    depends_on:
      - postgres-db

  postgres-db:
    image: postgres:16
    restart: unless-stopped
    shm_size: 128mb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: lshui
    volumes:
      - postgres-db-data:/var/lib/postgresql/data

volumes:
  bot-data:
  postgres-db-data:
