x-common-service: &common-service
    build:
      context: .
    image: bot_name:latest
    restart: unless-stopped
    extra_hosts:
        - "host.docker.internal:host-gateway"
    networks:
        - tg_api
        - proxy-net
        - default
    volumes:
        - ./data:/app/data
    env_file:
        - .env

services:
  bot:
    <<: *common-service
#    labels:
#      - "traefik.enable=true"
#      - "traefik.http.routers.bot.rule=Host(`bot.example.com`)"
#      - "traefik.http.routers.bot.entrypoints=https"
#      - "traefik.http.services.bot.loadbalancer.server.port=8080"
#      - "traefik.http.routers.bot.tls=true"